In [3]:
import os
import pyspark
from pyspark.sql import SparkSession

In [4]:
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk-22"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]

In [5]:
spark = SparkSession.builder.appName("Test").getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv("Datasets/testfile.csv")
df_pyspark # it will show columns and its data type

DataFrame[_c0: string, _c1: string]

In [8]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|     Yash| 23|
|    Mohan| 25|
|Sudhanshu| 30|
+---------+---+

In [9]:
spark.read.option("header", "true").csv("Datasets/testfile.csv")

DataFrame[Name: string, Age: string]

In [10]:
spark.read.option("header", "true").csv("Datasets/testfile.csv").show()

+---------+---+
|     Name|Age|
+---------+---+
|     Yash| 23|
|    Mohan| 25|
|Sudhanshu| 30|
+---------+---+

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(3)

[Row(_c0='Name', _c1='Age'),
 Row(_c0='Yash', _c1='23'),
 Row(_c0='Mohan', _c1='25')]

In [13]:
df_pyspark.printSchema() # its like df.info() of pandas

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)