In [1]:
import os
import pyspark
from pyspark.sql import SparkSession

In [2]:
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk-22"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]

In [3]:
spark = SparkSession.builder.appName("Filter Operations").getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv("Datasets/testfile3.csv", header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|     Yash| 23|         1|  8000|
|    Mohan| 25|         4| 25000|
|Sudhanshu| 30|         8| 35000|
|   Mahesh| 28|         6| 32000|
|    Krish| 21|         0|  6000|
|    Harsh| 42|        16| 65000|
|  Shubham| 56|        23| 77000|
+---------+---+----------+------+

In [6]:
# FILTER OPERATIONS salary less than equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Yash| 23|         1|  8000|
|Krish| 21|         0|  6000|
+-----+---+----------+------+

In [7]:
df_pyspark.filter("Salary<=20000").select(["Name", "Age"]).show()

+-----+---+
| Name|Age|
+-----+---+
| Yash| 23|
|Krish| 21|
+-----+---+

In [11]:
df_pyspark.filter(df_pyspark["Salary"]<=20000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Yash| 23|         1|  8000|
|Krish| 21|         0|  6000|
+-----+---+----------+------+

In [12]:
df_pyspark.filter((df_pyspark["Salary"]<=20000) & (df_pyspark["Experience"]>=1)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Yash| 23|         1|  8000|
+----+---+----------+------+

In [14]:
# NOT CONDITION or INVERSE OPERATION
df_pyspark.filter(~(df_pyspark["Salary"]<=20000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Mohan| 25|         4| 25000|
|Sudhanshu| 30|         8| 35000|
|   Mahesh| 28|         6| 32000|
|    Harsh| 42|        16| 65000|
|  Shubham| 56|        23| 77000|
+---------+---+----------+------+