In [1]:
import os
import pyspark
from pyspark.sql import SparkSession

In [2]:
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk-22"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"]

In [3]:
spark = SparkSession.builder.appName("GBA Operations").getOrCreate()

In [4]:
df_pyspark = spark.read.csv("Datasets/testfile4.csv", header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|     Yash|Data Science|  8000|
|    Mohan|         IOT| 25000|
|Sudhanshu|    Big Data| 35000|
|   Mahesh|    Big Data| 32000|
|    Krish|         IOT|  6000|
|    Harsh|Data Science| 65000|
|  Shubham|         IOT| 77000|
+---------+------------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
# GroupBy
df_pyspark.groupBy("Name").sum().show()
# because i didnt repeat the name and department in case i has 3 department then it will do the sum of salary

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|    Mohan|      25000|
|Sudhanshu|      35000|
|    Krish|       6000|
|    Harsh|      65000|
|     Yash|       8000|
|  Shubham|      77000|
|   Mahesh|      32000|
+---------+-----------+

In [10]:
df_pyspark.groupby("Department").sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|     108000|
|    Big Data|      67000|
|Data Science|      73000|
+------------+-----------+

In [12]:
df_pyspark.groupby("Department").mean().show()
# average salary given to employees according to department

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|    36000.0|
|    Big Data|    33500.0|
|Data Science|    36500.0|
+------------+-----------+

In [13]:
df_pyspark.groupby("Department").count().show()
# how many employees working in departments

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    2|
|Data Science|    2|
+------------+-----+

In [15]:
df_pyspark.agg({"Salary":"sum"}).show()
# total expenditure or salary given by company to all employees

+-----------+
|sum(Salary)|
+-----------+
|     248000|
+-----------+

In [19]:
df_pyspark.orderBy(df_pyspark['Salary'].desc()).select('Name', 'Salary').first()

# maximum salary of which employee

Row(Name='Shubham', Salary=77000)